    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag("rentr_logo.png") %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "All Cars", "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Cars", "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Bookings", "#", class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <%= image_tag "https://media.licdn.com/dms/image/C4E03AQEtADGC1FHZnA/profile-displayphoto-shrink_800_800/0/1618440935686?e=1705536000&v=beta&t=JtuqxurDDxjb9TRFxmTqGbtwXTInYvGqPuiszM_D39Q", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Account", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
