<%= simple_form_for [@car, booking] do |f| %>
  <% if @booking.errors.any? && @booking.errors.include?(:base) %>
    <p id="error-message"><%= @booking.errors[:base].first %></p>
  <% end %>
  <div data-controller="datepicker"data-datepicker-booked-value="<%= @booked_dates.to_json %>">
    <%= f.input :start_date,
                as: :string,
                label: "Enter chosen dates",
                input_html: { data: { datepicker_target: "start", action: "change->datepicker#update" } } %>

    <%= f.input :end_date,
                as: :hidden,
                input_html: { data: { datepicker_target: "end" } } %>
  </div>
  <%= f.submit %>
<% end %>
