<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<div id="profile-details">
  <% if current_user.photo.key %>
    <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
  <% else %>
    <%= image_tag('avatar_default.png', class: "avatar-large") %>
  <% end %>
  <div id="profile-info">
    <p>Your email: <%= current_user.email %></p>
    <% if current_user.license_number.length >= 1 %>
      <p>Your driving licence number: <%= current_user.license_number %></p>
    <% end %>
    <p><%= link_to raw("<i class='fa-solid fa-pencil'></i> Edit Your Details"), edit_user_registration_path(current_user)%></p>
  </div>
</div>
<div id="profile-items">
    <div class="profile-items-container">
      <div class="profile-items-header">
        <h4><%= link_to "Your Cars", user_cars_cars_path %></h4>
        <h4><%= link_to raw("<i class='fa-solid fa-plus'></i> Add Car"), new_car_path %></h4>
      </div>
      <% if current_user.cars.any? %>
        <div class="container-fluid mt-2">
          <div class="row">
            <% current_user.cars.each do |car| %>
              <div class="col-md-3 mb-4">
                <div class="link-container">
                  <%= link_to car_path(car) do %>
                  <div class="card">
                    <% carousel_id = "carousel#{car.id}Indicators" %>
                    <div class="card-image">
                      <div id="<%= carousel_id %>" class="carousel slide">
                        <div class="carousel-indicators">
                          <% car.photos.each_with_index do |photo, index| %>
                            <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
                          <% end %>
                        </div>
                        <div class="carousel-inner">
                          <% car.photos.each_with_index do |photo, index| %>
                            <div class="carousel-item <%= 'active' if index.zero? %>">
                              <%= image_tag(photo, class: 'd-block w-100', alt: "#{car.brand} #{car.model}") %>
                            </div>
                          <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-title d-flex">
                        <h2 class="card-title 1 me-2"><%= car.brand %></h2>
                        <h2><%= car.model %></h2>
                      </div>
                      <div class="card-details-1">
                        <p class="card-text"> <i class="fa-solid fa-gears"></i> <%= car.transmission %></p>
                        <p class="card-text"> <i class="fa-solid fa-location-dot"></i> <%= car.location %></p>
                      </div>
                      <div class="d-flex justify-content-end">
                        <p class="card-price"> £<%= car.day_rate %>/day</p>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
      <div class="profile-items-container">
    <div class="profile-items-header">
      <h4><%= link_to "Your Bookings", user_bookings_bookings_path %></h4>
      <h4><%= link_to raw("<i class='fa-solid fa-plus'></i> Find A Car And Book Today!"), cars_path %></h4>
    </div>
    <% if current_user.bookings.any? %>
        <div class="container-fluid mt-2">
          <div class="row">
            <% current_user.bookings.each do |booking| %>
              <div class="col-md-3 mb-4">
                <div class="link-container">
                  <%= link_to car_path(booking.car) do %>
                  <div class="card">
                    <% carousel_id = "carousel#{booking.id}Indicators" %>
                    <div class="card-image">
                      <div id="<%= carousel_id %>" class="carousel slide">
                        <div class="carousel-indicators">
                          <% booking.car.photos.each_with_index do |photo, index| %>
                            <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
                          <% end %>
                        </div>
                        <div class="carousel-inner">
                          <% booking.car.photos.each_with_index do |photo, index| %>
                            <div class="carousel-item <%= 'active' if index.zero? %>">
                              <%= image_tag(photo, class: 'd-block w-100', alt: "#{booking.car.brand} #{booking.car.model}") %>
                            </div>
                          <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                <div class="card-body">
                  <div class="card-title d-flex">
                    <h5 class="card-title 1 me-2"><%= booking.start_date.strftime('%b %d %Y') %></h5>
                    <h5> - <%= booking.end_date.strftime('%b %d %Y') %></h5>
                  </div>
                  <div class="card-details-1">
                    <p class="card-text"> <i class="fa-solid fa-car"></i></i> <%= booking.car.brand %> <%= booking.car.model %></p>
                    <p class="card-price"> £<%= booking.car.day_rate.round() %>/day</p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <p class="card-text"> <i class="fa-solid fa-money-bill"></i> Total £<%= ((booking.end_date - booking.start_date) * booking.car.day_rate).round(2)%></p>
                  </div>
                </div>
              </div>
             <% end %>
            </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
