<div class="link-container">
  <%= link_to car_path(car) do %>
  <div class="card">
    <% carousel_id = "carousel#{car.id}Indicators" %>
    <div class="card-image">
      <div id="<%= carousel_id %>" class="carousel slide">
        <div class="carousel-indicators">
          <!-- Card carousel -->
          <% car.photos.each_with_index do |photo, index| %>
            <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>
        <div class="carousel-inner">
          <% car.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= image_tag(photo, class: 'd-block w-100', alt: "#{car.brand} #{car.model}") %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <!-- Card body content -->
    </div>
    <div class="card-body">
      <div class="card-title d-flex">
        <h2 class="card-title 1 me-2"><%= car.brand %></h2>
        <h2><%= car.model %></h2>
      </div>
      <div class="card-details-1">
        <p class="card-text"> <i class="fa-solid fa-gears"></i> <%= car.transmission %></p>
        <p class="card-text"> <i class="fa-solid fa-location-dot"></i> <%= car.location %></p>
      </div>
      <div class="d-flex justify-content-end">
        <p class="card-price"> £<%= car.day_rate.round() %>/day</p>
      </div>
    </div>
  </div>
  <% end %>
</div>
